# Dependency folders
**/node_modules/
**/venv/

# Build folders
**/dist/

# Python caching
**/__pycache__/
*.pyc
**/*.egg-info/

# Local env files
**/.env
**/.env.local

# IDE / OS files
**/.vscode/
**/.idea/
.DS_Store
Thumbs.db

**/docs/
.cursorrules
**/.venv

# Local scratch and database files
scratch/
**/scratch/
*.db